@mixin img-container() {
  //display: flex;
  width: 100%;
  height: 576px;
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}