//colors
$gray-colors: (
        total-black: #140600,
        dark-gray: #2D383A,
        total-white: #FFFFFF
);

$red-colors: (
        dark-sienna: #451719ff,
        wine: #5f222bff,
        wine-2: #712b3bff,
        quinacridone-magenta: #84344bff,
        quinacridone-magenta-2: #8f465bff,
        rose-dust: #a16475ff,
        english-lavender: #b2818fff,
);

$yellow-colors: (
        tangerine: #e87f00ff,
        dark-orange: #ff8c00ff,
        orange-peel: #ff9f00ff,
        honey-yellow: #ffb200ff,
        amber: #ffc000ff,
        cyber-yellow: #ffce00ff,
        minion-yellow: #ffe660ff,
);

$blue-colors: (
        gunmetal: #102c35,
        outer-space-crayola: #1f3a42ff,
        blue-sapphire: #065b74ff,
        blue-sapphire-2: #1d6a81ff,
        teal-blue: #32788cff,
        blue-munsell: #4d94a8ff,
        non-photo-blue: #9ad8eaff,
);

$green-colors: (
        cabin: #242a1d,
        british-racing-green: #003d25ff,
        polished-pine: #509a8fff,
        ocean-green: #67caa0ff,
        lime-green: #32cd32ff,
        light-green: #80e080ff,
        celadon: #bdefbdff,
);


//fonts